body{
margin:0;
font-family:sans-serif;
}

#map{
height:100vh;
}

#panel{
position:absolute;
top:10px;
left:10px;
z-index:1000;
background:white;
padding:10px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.3);
}

#searchBox{
width:180px;
padding:5px;
}

select,button{
width:190px;
margin-top:5px;
padding:6px;
}
