body{
margin:0;
font-family:sans-serif;
}

#map{
height:100vh;
}

#panel{
position:absolute;
top:10px;
left:10px;
z-index:1000;
background:white;
padding:12px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.3);
width:200px;
}

#searchBox{
width:100%;
padding:6px;
}

select,button{
width:100%;
margin-top:5px;
padding:6px;
}

img{
margin-top:5px;
border-radius:8px;
}
